body{
    background-color: green;
}

.layout{
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 400px;
    background-color: red;
    position: relative;
    grid: 0%;
}